---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include training.html %}

{% include certifications.html %}

<!--This is a comment. {% include projects.html %} -->

<!--This is a comment. {% include oss-contributions.html %} -->

<!--This is a comment. {% include publications.html %} -->

<!--This is a comment. {% include recommendations.html %} -->

{% include skills.html %}
